{{ansible_managed}}

CLUSTER="{{mesos_cluster_name}}"
IP={{mesos_ip}}
LOGS={{mesos_log_location}}
ULIMIT="{{mesos_ulimit}}"
ZK="{{ mesos_zookeeper_masters }}"
MASTER="{{ mesos_zookeeper_masters }}"
OPTS="{{mesos_options}}"
WORK_DIR="{{ work_dir }}"
QUORUM="{{ quorum }}"
ISOLATION="{{ isolation }}"
CONTAINERIZER_PATH="{{ containerizer_path }}"
MESOS_HOSTNAME="{{ mesos_hostname }}"
