# {{ansible_managed}}

[Unit]
Description=mesos master

[Service]
Type=simple
User={{ mesos_owner }}
Group={{ mesos_group }}
ExecStart=/usr/bin/mesos-init-wrapper master
TimeoutSec=300

[Install]
WantedBy=multi-user.target
