# {{ansible_managed}}

CLUSTER="{{mesos_cluster_name}}"
IP={{mesos_ip}}
LOGS={{mesos_log_location}}
ULIMIT="{{mesos_ulimit}}"
ZK="{{mesos_zookeepers}}"
MASTER="{{mesos_masters}}"
OPTS="{{mesos_options}}"
