{{ansible_managed}}

description "mesos master"

# Start just after the System-V jobs (rc) to ensure networking and zookeeper
# are started. This is as simple as possible to ensure compatibility with
# Ubuntu, Debian, CentOS, and RHEL distros. See:
# http://upstart.ubuntu.com/cookbook/#standard-idioms
start on stopped rc RUNLEVEL=[2345]
respawn

exec /usr/bin/mesos-init-wrapper master

# Command line options: http://mesos.apache.org/documentation/latest/configuration/
#script
#  [ ! -f /etc/default/mesos ]     || . /etc/default/mesos
#  [ ! -f /etc/mesos/master.conf ] || . /etc/mesos/master.conf
#  [ -z "${ULIMIT:-}" ] || ulimit $ULIMIT
#  exec /usr/local/sbin/mesos-master \
#    ${ZK:+--zk=$ZK} \
#    ${IP:+--ip=$IP} \
#    ${MESOS_HOSTNAME:+--hostname=$MESOS_HOSTNAME} \
#    ${PORT:+--port=$PORT} \
#    ${CLUSTER:+--cluster=$CLUSTER} \
#    ${WORK_DIR:+--work_dir=$WORK_DIR} \
#    ${QUORUM:+--quorum=$QUORUM} \
#    ${WHITELIST:+--whitelist=$WHITELIST} \
#    $OPTS \
#    >> "$LOGS"/master.log 2>&1
#end script
